header{
  background-color: #66A5AD;
  height:80px;
  width:100%;
}

footer{
  background-color: #66A5AD;
  height:80px;
}

body {
  padding: 0;
  margin: 0;
  font-family: Raleway;
  color: black;
  font-size: 16px;
}

a {
  text-decoration: none;
}

ul, li {
  display: block;
  padding: 0;
  margin: 0;
}

ul {
  margin-top: 13px;
  margin-left:48%;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("hero-bg.PNG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height:600px;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  position: absolute;
  width: 463px;
  height: 168px;
  left: 501px;
  top: 281px;
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 35px;
  color: white;
}

.hero-button{
  background: #27BEC6;
  border-radius: 100px;
  font-size:15px;
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
}

.logo-nav{
  margin-top:13px;
}

.text-nav{
  margin-top:17px;
}

.menu {
  display: flex;
}

.menu li a {
  color:black;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.05em;
}

.menu li a:hover {
  color: grey;
}

.menu li {
  margin-right: 40px;
}

.tel {
  font-size: 17px;
  margin-left: auto;
  letter-spacing: 0.1em;
}

.nav {
  display: flex;
  align-items: center;
}
